# This file contains common pin mappings for the BIGTREETECH SKR mini
# E3 v2.0. To use this config, the firmware should be compiled for the
# STM32F103 with a "28KiB bootloader" and USB communication. Also,
# select "Enable extra low-level configuration options" and configure
# "GPIO pins to set at micro-controller startup" to "!PA14".

# The "make flash" command does not work on the SKR mini E3. Instead,
# after running "make", copy the generated "out/klipper.bin" file to a
# file named "firmware.bin" on an SD card and then restart the SKR
# mini E3 with that SD card.

[virtual_sdcard]
path: /home/pi/printer_data/gcodes

### Macro are loaded at bottom now

[gcode_macro UNLOAD_FILAMENT]
gcode:
    SAVE_GCODE_STATE NAME=UNLOAD_FILAMENT_state
    M117 Unloading Filament
    G91                 ; relative positioning
    G1 E5.0 F1200       ; extrude a little
    G1 E3.0 F1600       ; extrude a little more
    G92 E0.0
    G1 E-13.14 F7000    ; retract
    ; retract a lot more (bowden tube), but must be split according to max_extrude_only_distance (50.0)
    G1 E-50 F3000     
    G1 E-50 F3000        
    G92 E0.0
    RESTORE_GCODE_STATE name=UNLOAD_FILAMENT_state

[gcode_macro M702]
description: unload filament
gcode:
    UNLOAD_FILAMENT

[gcode_macro LOAD_FILAMENT]
gcode:
    SAVE_GCODE_STATE NAME=LOAD_FILAMENT
    G91                 ; relative positioning
    G1 E25.0 F1000      ; extrude
    ; G1 E435 F2500       ; extrude a lot more bowden tube
    G4 P900             ; dwell
    G1 E45.0 F2500      ; extrude a littel more
    RESTORE_GCODE_STATE name=LOAD_FILAMENT

[gcode_macro CLEAN_NOZZLE]
gcode:
    SAVE_GCODE_STATE NAME=CLEAN_NOZZLE
    G92 E0 ; reset extrusion distance
    G0 Z10 F5000 ; prep for prime and clean
    ; G1 E19 F600 ; prime nozzle
    G0 X0 Y0 F6000 ; wipe nozzle
    G0 Y0 X110 F3000 ; wipe nozzle
    G0 X0 Y0 F3000 ; wipe nozzle
    G0 Y3 X110 F6000 ; wipe nozzle
    G0 X0 Y10 Z15 F6000 ; wipe nozzle
    RESTORE_GCODE_STATE name=CLEAN_NOZZLE


######################################################################
# Filament Change
######################################################################

# M600: Filament Change. This macro will pause the printer, move the
# tool to the change position, and retract the filament 50mm. Adjust
# the retraction settings for your own extruder. After filament has
# been changed, the print can be resumed from its previous position
# with the "RESUME" gcode.

# enable pause resume
[pause_resume]
#recover_velocity: 50.
#   When capture/restore is enabled, the speed at which to return to
#   the captured position (in mm/s). Default is 50.0 mm/s.

# enable respond
[respond]
#default_type: echo
#   Sets the default prefix of the "M118" and "RESPOND" output to one
#   of the following:
#       echo: "echo: " (This is the default)
#       command: "// "
#       error: "!! "
#default_prefix: echo:
#   Directly sets the default prefix. If present, this value will
#   override the "default_type".

# Filament change
[gcode_macro M600]
gcode:
    SAVE_GCODE_STATE NAME=M600_state
    PAUSE
    PARK_HEAD
    ; UNLOAD_FILAMENT ; call M600 could as well allow to put bolt inside a piece
    ; SET_IDLE_TIMEOUT TIMEOUT=3600
    RESTORE_GCODE_STATE NAME=M600_state


# See docs/Config_Reference.md for a description of parameters.


# Ender 3 config 
[stepper_x]
step_pin: PB13
dir_pin: !PB12
enable_pin: !PB14
microsteps: 16
rotation_distance: 40
endstop_pin: ^PC0
position_endstop: 0
# extended for probing over screw / position is outside bed for head
position_max: 245
homing_speed: 50

[tmc2209 stepper_x]
uart_pin: PC11
tx_pin: PC10
uart_address: 0
run_current: 0.580
hold_current: 0.500
stealthchop_threshold: 999999

[stepper_y]
step_pin: PB10
dir_pin: !PB2
enable_pin: !PB11
microsteps: 16
rotation_distance: 40
endstop_pin: ^PC1
position_endstop: 0
# extended for probing over screw / position is outside bed for head
position_max: 240
homing_speed: 50

[tmc2209 stepper_y]
uart_pin: PC11
tx_pin: PC10
uart_address: 2
run_current: 0.580
hold_current: 0.500
stealthchop_threshold: 999999

[stepper_z]
step_pin: PB0
dir_pin: PC5
enable_pin: !PB1
microsteps: 16
rotation_distance: 8
## without bltouch
# endstop_pin: ^PC2
# position_endstop: 0.0
## with bltouch as endstop
endstop_pin: probe:z_virtual_endstop
position_min: -2            # get some margin for probe calibration
position_max: 250

### default for z axis endstop
# [safe_z_home]
# home_xy_position: 0, 0
# z_hop:10

## setup for bltouch
[safe_z_home]
# start on screw pos
home_xy_position: 100, 100
z_hop:10

[tmc2209 stepper_z]
uart_pin: PC11
tx_pin: PC10
uart_address: 1
run_current: 0.580
hold_current: 0.500
stealthchop_threshold: 999999

[endstop_phase stepper_z]

[extruder]
step_pin: PB3
enable_pin: !PD2

nozzle_diameter: 0.400
filament_diameter: 1.750
#max_extrude_only_distance: 50.0
#   Maximum length (in mm of raw filament) that an extrude only move
#   may be. If an extrude only move requests a distance greater than
#   this value it will cause an error to be returned. The default is
#   50mm.

## orbiter
dir_pin: PB4
microsteps: 16
rotation_distance: 4.637
full_steps_per_rotation: 200        # 360/1.8sd
max_extrude_only_distance: 500
max_extrude_only_velocity: 120      # <- for orbiter motor LDO-36STH20-1004AHG(XH)
max_extrude_only_accel:    800       # <- for orbiter motor LDO-36STH20-1004AHG(XH)
# pressure_advance: 0.1               # to be calibrated
# pressure_advance_smooth_time: 0.02  # to be calibrated


## ender3 default
# dir_pin: !PB4
# microsteps: 16
# rotation_distance: 33.500

heater_pin: PC8
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PA0
control: pid
pid_Kp: 21.527
pid_Ki: 1.063
pid_Kd: 108.982
min_temp: 0
max_temp: 250


[tmc2209 extruder]
uart_pin: PC11
tx_pin: PC10
uart_address: 3

## orbiter motor LDO-36STH20-1004AHG(XH)
run_current:    0.850 # RMS
hold_current:   0.1
# sense_resistor: 0.11 # default
stealthchop_threshold: 0
interpolate: False

## default ender motor
# run_current: 0.650
# hold_current: 0.500
# stealthchop_threshold: 999999

[firmware_retraction]
retract_length: 1.2
#   The length of filament (in mm) to retract when G10 is activated,
#   and to unretract when G11 is activated (but see
#   unretract_extra_length below). The default is 0 mm.
retract_speed: 60
#   The speed of retraction, in mm/s. The default is 20 mm/s.
unretract_extra_length: 0
#   The length (in mm) of *additional* filament to add when
#   unretracting.
unretract_speed: 10
#   The speed of unretraction, in mm/s. The default is 10 mm/s.

[heater_bed]
heater_pin: PC9
sensor_type: ATC Semitec 104GT-2
sensor_pin: PC3
control: pid
pid_Kp: 54.027
pid_Ki: 0.770
pid_Kd: 948.182
min_temp: 0
max_temp: 130

[heater_fan nozzle_cooling_fan]
pin: PC7

[fan]
pin: PC6

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f103xe_37FFD4055358353212840843-if00

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 3000
max_z_velocity: 5
max_z_accel: 100

[static_digital_output usb_pullup_enable]
pins: !PA14

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PB5,  EXP1_3=PA9,   EXP1_5=PA10, EXP1_7=PB8,  EXP1_9=<GND>,
    EXP1_2=PA15, EXP1_4=<RST>, EXP1_6=PB9,  EXP1_8=PB15, EXP1_10=<5V>

# See the sample-lcd.cfg file for definitions of common LCD displays.

[display]
lcd_type: st7920
cs_pin: EXP1_7
sclk_pin: EXP1_6
sid_pin: EXP1_8
encoder_pins: ^EXP1_5, ^EXP1_3
click_pin: ^!EXP1_2
#kill_pin: ^!EXP2_8

[output_pin beeper]
pin: EXP1_1


### Screw positions for manual levelling
[bed_screws]
screw1: 32,32
screw2: 203,32
screw3: 203,203
screw4: 32,203
screw5: 117,117

## BL Touch
[bltouch]
sensor_pin: ^PC14
control_pin: PA1

### Tiki2 config
x_offset: 35.5
y_offset: -5.0
#z_offset: 2.840

### BlockHead config
# x_offset: -48.0
# y_offset: -10.0
# z_offset: 2.400



## align mesh boundary on screw (depends on head capability)
[bed_mesh]
speed: 100
mesh_min: 50,50
mesh_max: 195, 195
algorithm: bicubic
probe_count: 5,5

# ###
# # Custom Menu
# # [menu __main __sdcard]
# # type: disabled

# ## 
[menu __main __prepare]
type: list
name: Prepare

[menu __main __prepare  __home]
type: command
enable: {not printer.idle_timeout.state == "Printing"}
name: Home All
gcode: G28

## auto leveling
[menu __main __prepare __auto_bed_leveling]
type: command
enable: {not printer.idle_timeout.state == "Printing"}
name: Auto mesh
gcode: 
  {% if printer.toolhead.homed_axes != "xyz" %}
    {action_respond_info("Please home XYZ first")}
  {% else %}
    BED_MESH_CALIBRATE
    PARK_HEAD
  {% endif %}

## Manual Bed leveling helper
[menu __main __prepare __manual_bed_leveling]
type: list
name: Manual Leveling

[menu __main __prepare __manual_bed_leveling __start]
type: command
enable: {not printer.idle_timeout.state == "Printing"}
name: Start adjust
gcode: BED_SCREWS_ADJUST

[menu __main __prepare __manual_bed_leveling __accept]
type: command
enable: {not printer.idle_timeout.state == "Printing"}
name: I Accept screw
gcode: accept

[menu __main __prepare __manual_bed_leveling __adjust]
type: command
enable: {not printer.idle_timeout.state == "Printing"}
name: I Adjusted screw
gcode: adjusted

[menu __main __prepare __manual_bed_leveling __abort_screws]
type: command
enable: {not printer.idle_timeout.state == "Printing"}
name: Abort
gcode: abort

## MACRO 
[include macro/park_head.cfg]
[include macro/cancel_print.cfg]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [bltouch]
#*# z_offset = 2.350
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.197500, 0.137500, 0.120000, 0.127500, 0.150000
#*# 	  0.145000, 0.092500, 0.090000, 0.087500, 0.112500
#*# 	  0.145000, 0.095000, 0.090000, 0.080000, 0.090000
#*# 	  0.107500, 0.070000, 0.055000, 0.052500, 0.065000
#*# 	  0.100000, 0.065000, 0.067500, 0.062500, 0.085000
#*# x_count = 5
#*# y_count = 5
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 50.0
#*# max_x = 195.0
#*# min_y = 50.0
#*# max_y = 195.0
